<h1><%= @team.name %></h1>

<h2>Team Motto: <%= @team.motto %></h2>

<h2>Hero Name: <%= @members[0].name %></h2>
<div>Hero Power: <%= @members[0].power %></div>
<div>Hero Biography: <%= @members[0].bio %></div>

<h2>Hero Name: <%= @members[1].name %></h2>
<div>Hero Power: <%= @members[1].power %></div>
<div>Hero Biography: <%= @members[1].bio %></div>

<h2>Hero Name: <%= @members[2].name %></h2>
<div>Hero Power: <%= @members[2].power %></div>
<div>Hero Biography: <%= @members[2].bio %></div>
